@charset "UTF-8";

@media screen and (min-width: 768px) {

    body,  html {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 480px;
        border-radius: 25px;
        box-shadow: 9px 16px 33px -18px rgba(0, 0, 0, 0.297);
        background-color: hsl(0, 0%, 100%);
    }

    section > div#result {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 600px;
        height: 480px;
        padding: 25px;
    }

    p#title {
        font-size: 20px;
        margin-bottom: 50px;
    }

    div#symbol {
        width: 180px;
        height: 180px;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 15px;
    }

    p#description {
        text-align: center;
        font-size: 20px;
    }

    section#content {
        display: flex;
        flex-direction: column;
    }

    button {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 40px;
        width: 85%;
        padding: 14px;
    }

}